* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-info,
.game-settings {
    margin: 10px 0;
}

label {
    margin-right: 10px;
}

input[type="text"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .players {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}

#player1Name {
    color: #ff1da8;
    text-align: center; 
    flex: 1; 
}

#player2Name {
    color: #00ffff;
    text-align: center; 
    flex: 1; 
}

#scores {
    /* margin: 0 15px; */
    font-size: 26px;
    text-align: center; 
}


.currentPlayer {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.board {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #833639;
    border: 1px solid #ff1da8;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.card span {
    display: none;
    font-size: 2rem;
}
.card.flipped {
    background-color: #f0f0f0;
} 
.card.flipped span{
    display: block;
}
.buttons {
    text-align: center;
    padding: 10px 5px 25px 5px;
} 
.bnt {
    display: inline-block;
    padding: 10px 10px;
    margin: 0 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #833639;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #ff1da8;
  }
  
  .bnt:hover {
    background-color: #ff1da8;
    box-shadow: 0 3px #00ffff;
}
  
.bnt:active {
    background-color: #ff1da8;
    box-shadow: 0 1px #00ffff;
    transform: translateY(4px);
}

#firstBox img{
    width: 80%;
    margin: 15px 0;
}
#firstBox .bnt{
    padding: 10px 20px;
    font-size: 20px;
}

#secondBox{
    text-align: center;
}

#secondBox img{
    width: 60% ;
    margin: 15px 0;
}

#winnerBox{
    text-align: center;
}
#winnerBox img{
    width: 70%;
}
#winnerBox .buttons {
    margin-top: 20px;
}

